@charset "UTF-8";
body, html {
  font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Tahoma, sans-serif;
}

.w1600 {
  width: 83.3%;
  margin: 0 auto;
}

.w1440 {
  width: 75%;
  margin: 0 auto;
}

.col-lg-4 {
  width: 33%;
}

.col-lg-6 {
  width: 50%;
}

.col-lg-5 {
  width: 41.6667%;
}

.col-lg-7 {
  width: 58.3333%;
}

li {
  float: left;
}

ul:after {
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow: hidden;
  content: ".";
}

.fr {
  display: block;
  float: right;
}

.fl {
  display: block;
  float: left;
}

a {
  -webkit-transition: color 0.3s ease 0s;
          transition: color 0.3s ease 0s;
}

.header-main {
  width: 100%;
  background-color: #fff;
  height: 94px;
  position: relative;
  z-index: 10;
}

.header-main-wrap.fixed {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
}

header {
  min-height: 94px;
  position: relative;
  z-index: 10;
  margin: 0;
  padding: 0;
}
header .logo {
  display: inline-block;
  margin-left: 1.35%;
  margin-top: 7px;
}
header .nav {s
  margin-left: 1.9%;
  font-size: 16px;
  margin-top: 23px;
  line-height: 48px;
}
header .nav a {
  display: inline-block;
  color: #333;
  padding: 0 4px 23px;
}
header .nav li {
  position: relative;
  margin: 0 20px;
}
header .nav .line {
  display: block;
  width: 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 2px;
  background-color: #de001f;
  -webkit-transition: all 0.4s ease 0s;
          transition: all 0.4s ease 0s;
}
header .nav li:hover a, header .nav li.hover a, header .nav li.cur a {
  color: #de001f;
  font-weight: bold;
}
header .nav li:hover .line, header .nav li.hover .line, header .nav li.cur .line {
  width: 100%;
  left: 0;
}
header .right-link {
  background-color: #f3f3f3;
  padding: 23px 24px;
  line-height: 48px;
  height: 48px;
}
header .right-link a {
  display: inline-block;
  text-align: center;
}
header .right-link .en {
  font-size: 14px;
  color: #b0b0b0;
  font-size: 14px;
  width: 34px;
}
header .right-link .cn {
  font-weight: bold;
  color: #de001f;
  width: 40px;
}
header .right-link .share {
  background: url(../img/ico_01.png) no-repeat center;
  width: 40px;
  height: 48px;
  margin: 0 0 0 10px;
  padding: 0;
}
header .right-link .search-btn {
  display: inline-block;
  width: 44px;
  height: 48px;
  background: url(../img/ico_02.png) no-repeat center;
  cursor: pointer;
}
header .s-navbtn {
  width: 33px;
  height: 25px;
  display: none;
  position: relative;
  margin-top: 34px;
  cursor: pointer;
  margin-right: 4.6%;
}
header .s-navbtn .line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #595959;
  position: absolute;
  left: 0;
}
header .s-navbtn .line-top {
  top: 0;
  -webkit-transform-origin: left top 0;
      -ms-transform-origin: left top 0;
          transform-origin: left top 0;
}
header .s-navbtn .line-cent {
  top: 12px;
}
header .s-navbtn .line-bot {
  bottom: 0;
  -webkit-transform-origin: left bottom 0;
      -ms-transform-origin: left bottom 0;
          transform-origin: left bottom 0;
}
header .sline {
  display: none;
  width: 1px;
  height: 25px;
  background-color: #ccc;
  margin: 34px 20px 0;
}
header .m-search-btn {
  display: none;
  width: 28px;
  height: 28px;
  background: url(../img/ico_09.png) no-repeat center;
  margin-top: 31px;
  cursor: pointer;
}
header .header-sub {
  padding-top: 28px;
  padding-bottom: 46px;
  background: url(../img/bg_01.png) repeat-x center top #f8f8f8;
  display: none;
  position: relative;
  z-index: 2;
}
header .header-sub .sub-list {
  width: 78%;
  margin: 0 auto;
  display: none;
  position: relative;
  /*overflow: hidden;*/
}
header .header-sub .sub-list .oth-link{
  display: block;
  width: 6%;
  position: absolute;
  left: -8%;
  top: 60px;
}
header .header-sub .sub-list .oth-link img{
  width: 100%;
}
header .header-sub .sub-list ul {
  width: 102%;
}
header .header-sub .sub-list li {
  width: 18%;
  margin-right: 2%;
}
header .header-sub .stit {
  font-size: 18px;
  line-height: 60px;
}
header .header-sub .stit a {
  color: #333;
}
header .header-sub .img {
  display: block;
  width: 100%;
}
header .header-sub .img img {
  width: 100%;
}
header .header-sub .word {
  line-height: 24px;
  font-size: 14px;
  margin-top: 13px;
  display: block;
}
header .header-sub .word a {
  display: inline-block;
  color: #666;
}
header .header-sub .ico {
  display: block;
  width: 30px;
  height: 30px;
  background: url(../img/ico_10.png) no-repeat center;
  margin-top: 20px;
}

.m-header-sub {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000000;
  opacity: 0.9;
  display: block;
  height: 100%;
  z-index: 9;
  display: none;
  overflow-y: auto;
}
.m-header-sub .nav-list {
  padding: 0;
  position: relative;
  top: 8%;
  float: none;
  width: 100%;
}
.m-header-sub .nav-list .first {
  padding-left: 5%;
  border-bottom: 1px solid #424243;
  padding-top: 3px;
  padding-bottom: 3px;
  position: relative;
}
.m-header-sub .nav-list .item-anchor {
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  position: relative;
  text-decoration: none;
  padding: 10px 10px 10px 0;
  float: left;
}
.m-header-sub .nav-list .down {
  width: 20px;
  height: 20px;
  float: right;
  background: url(../img/ico_11.png) no-repeat;
  background-size: 100% 100%;
  margin-top: 18px;
  margin-right: 24px;
}
.m-header-sub .nav-list .down.cur {
  background: url(../img/ico_12.png) no-repeat;
  background-size: 100% 100%;
}
.m-header-sub .nav-list li {
  width: 100%;
}
.m-header-sub .nav-list dl {
  padding-top: 15px;
  padding-bottom: 21px;
  border-bottom: 1px solid #474747;
  padding-left: 5%;
  display: none;
}
.m-header-sub .nav-list dd {
  font-size: 16px;
  line-height: 25px;
}
.m-header-sub .nav-list dd a {
  color: #fff;
}

footer {
  background-color: #2f2f2f;
  padding-top: 50px;
  position: relative;
  z-index: 1;
}
footer .footer-main {
  border-bottom: 1px solid #3a3a3a;
  padding-bottom: 55px;
}
footer .footer-main dl a:hover {
  color: #fff;
}
footer dl {
  width: 11.2%;
  float: left;
}
footer dt {
  font-size: 18px;
  line-height: 34px;
  font-weight: normal;
}
footer dt a {
  color: #fff;
  display: inline-block;
}
footer dd {
  margin-top: 10px;
  line-height: 30px;
  font-size: 14px;
}
footer dd a {
  color: #888;
  display: inline-block;
}
footer .right-weixin {
  margin-top: 9px;
  margin-right: 10px;
}
footer .right-weixin .wx-box {
  width: 100px;
  height: 100px;
  padding: 11px;
  background-color: #fff;
  border-radius: 5px;
}
footer .right-weixin p {
  line-height: 30px;
  margin-top: 10px;
  text-align: center;
  color: #fff;
  font-size: 15px;
}
footer .footer-bot {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 32px;
  color: #616161;
  position: relative;
}
footer .about-link .sub-box p{
  width: 115px;
  margin-left: 24px;
  border-bottom: 1px solid #434343;
}
footer .footer-bot a {
  color: #888;
}
footer .footer-bot a:hover {
  color: #fff;
}
footer .footer-bot .line {
  display: inline-block;
  width: 1px;
  height: 10px;
  background-color: #444;
  margin: 12px 12px 0;
}
footer .footer-bot .about-link {
  margin-left: 30px;
  position: relative;
}
footer .footer-bot .about-link .link-tit {
  color: #b0b0b0;
  display: block;
  border: 1px solid #434343;
  line-height: 30px;
  cursor: pointer;
  padding-left: 16px;
  width: 168px;
  background: url(../img/ico_05.png) no-repeat 158px center #2f2f2f;
  border-radius: 14px;
  position: relative;
  z-index: 2;
}
footer .footer-bot .about-link .sub-box {
  position: absolute;
  left: 0;
  bottom: 20px;
  width: 99%;
  border: 1px solid #434343;
  display: none;
  border-radius: 6px;
  padding-bottom: 24px;
  background-color: #2f2f2f;
  padding-top: 8px;
}
footer .footer-bot .about-link .sub-box a {
  /*padding-left: 16px;*/
  display: block;
}
footer .footer-bot .about-link .sub-box a:hover {
  color: #fff;
}
footer .footer-bot .share {
  position: absolute;
  top: -55px;
  right: 10px;
}
footer .footer-bot .share a {
  display: block;
  float: left;
  padding: 0;
  margin: 0 0 0 10px;
  width: 28px;
  height: 28px;
  opacity: 0.2;
  filter: alpha(opacity=20);
  -webkit-transition: all 0.3s ease 0s;
          transition: all 0.3s ease 0s;
}
footer .footer-bot .share a:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
footer .footer-bot .share .sina {
  background: url(../img/ico_07.png) no-repeat center;
}
footer .footer-bot .share .wx {
  background: url(../img/ico_08.png) no-repeat center;
}
footer .footer-bot .s-nav {
  margin-left: 20%;
  width: 194px;
}
footer .footer-bot .s-nav a, footer .footer-bot .s-nav span {
  display: inline-block;
}

.f-blank {/*导航栏和第一个标题之间的空白区域*/
  width: 1060px;
  position: relative;
  /*overflow: hidden;*/
  height: 10px;
  z-index: 2;
}
.f-blank1 {/*导航栏和第一个标题之间的空白区域*/
  width: 1060px;
  position: relative;
  /*overflow: hidden;*/
  height: 51px;
  z-index: 2;
}

.first-block {/*第一个整体的块*/
    width: 1000px;
    margin: 1px auto 0;
}

.f-title {/*第一个标题*/
  font-size: 37px;
  text-align: center;
  color: #333333;
  width: 100%;
  position: relative;
  /*overflow: hidden;*/
  height: 40px;
  z-index: 2;
}

.english {/*英语表达*/
  font-size: 13px;
  text-align: center;
  color: #999999;
  width: 100%;
  position: relative;
  /*overflow: hidden;*/
  height: 25px;
  margin-top: 20px;
  z-index: 2;
}

.basics-title {/*basics里面的title*/
  font-size: 28px;
  text-align: center;
  color: #999999;
  width: 100%;
  position: relative;
  /*overflow: hidden;*/
  height: 25px;
  margin-top: 7px;
  z-index: 2;
}
.more {/*右下角的更多视频*/
  font-size: 16px;
  text-align: right;
  color: #999;
  width: 1060px;
  position: relative;
  /*overflow: hidden;*/
  height: 25px;
  z-index: 2;
}

.i-ban {
  width: 100%;
  position: relative;
  /*overflow: hidden;
  height: 100%;*/
  z-index: 2;
}
.i-ban ul {
  width: 100%;
  height: 100%;
}
.i-ban li {/*图片的大小尺寸*/
  width: 87%;
  height: 57%;
  /*width:400px;一定要制定一个宽度*/
  float:left; /*这是让所有div标签左浮动*/
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}

.introduce{/*介绍文字所占的左右上下宽度高度*/
  width: 100%;
  font-size: 16px;
  line-height: 30px;
  color: #777;
  padding: 9px 0;/*介绍文字的上下高度*/
}

.i-ban li a{
  display: block;
  width: 100%;
  height: 100%;
}
.i-ban li .cont-box{  /*图下面介绍文字的框*/
  width: 920px;
  position: absolute;
  bottom: 65px;/*介绍文字框的位置高低*/
  left: 50%;
  margin-left: -460px;
  height: 80px;
  border-radius: 5px;
  overflow: hidden;
  display: none;
}
.i-ban li .up-cont{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  color: #fff;
}
.i-ban li .up-cont .stit{   /*图下面的介绍文字*/
  display: inline-block;
  font-size: 19px;
  margin-left: 15px;
  text-align: center;
  width: 138px;
  line-height: 76px;/*介绍文字标题的高低*/
}
/*
.i-ban li .cont-box .bg{介绍的文字框的大小和透明度
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
*/
.i-ban li.li0 .cont-box .bg{
  background-color: #2dafb4;
}
.i-ban li.li1 .cont-box .bg{
  background-color: #eb6112;
}
.i-ban li.li2 .cont-box .bg{
  background-color: #00a73c;
}
.i-ban li.li3 .cont-box .bg{
  background-color: #00a73c;
}
.i-ban li.li4 .cont-box .bg{
  background-color: #0068b7;
}
.i-ban li .up-cont .word{/*介绍文字所占的左右上下宽度高度*/
  width: 760px;
  line-height: 6px;
  font-size: 16px;
  padding: 35px 0;/*介绍文字的上下高度*/
}
.i-ban .btns {/*底下三个圆圈的上下左右*/
  position: absolute;
  left: 50%;
  bottom: -30px;
}
.i-ban .btns span {
  display: inline-block;
  float: left;
  width: 70px;
  height: 70px;
  background: #fff;
  border-radius: 50%;
  margin: 0 6px;
  cursor: pointer;
}
.i-ban .btns span.span0{
  background: url(../img/ico_50.png) no-repeat center #f3f3f3;
}
.i-ban .btns span.span1{
  background: url(../img/ico_51.png) no-repeat center #f3f3f3;
}
.i-ban .btns span.span2{
  background: url(../img/ico_52.png) no-repeat center #f3f3f3;
}
/*
.i-ban .btns span.span3{
  background: url(../img/ico_53.png) no-repeat center #f3f3f3;
}
.i-ban .btns span.span4{
  background: url(../img/ico_54.png) no-repeat center #f3f3f3;
}
.i-ban .btns span.span0.cur{
  background: url(../img/ico_50_h.png) no-repeat center #90b1d8;
}
.i-ban .btns span.span1.cur{
  background: url(../img/ico_51_h.png) no-repeat center #393d60;
}
.i-ban .btns span.span2.cur{
  background: url(../img/ico_52_h.png) no-repeat center #a1d015;
}
.i-ban .btns span.span3.cur{
  background: url(../img/ico_53_h.png) no-repeat center #4488dc;
}
.i-ban .btns span.span4.cur{
  background: url(../img/ico_54_h.png) no-repeat center #deb450;
}*/
.i-ban .btns span.span0.cur{
  background: url(../img/ico_50_h.png) no-repeat center #2dafb4;
}
.i-ban .btns span.span1.cur{
  background: url(../img/ico_51_h.png) no-repeat center #eb6112;
}
.i-ban .btns span.span2.cur{
  background: url(../img/ico_52_h.png) no-repeat center #00a73c;
}
/*
.i-ban .btns span.span3.cur{
  background: url(../img/ico_53_h.png) no-repeat center #00a73c;
}
.i-ban .btns span.span4.cur{
  background: url(../img/ico_54_h.png) no-repeat center #0068b7;
}
.i-ban .btns span.cur {
  background-color: #de001f;
}*/
.i-ban .butn{
  position: absolute;
  display: block;
  width: 66px;
  height: 66px;
  top: 50%;
  margin-top: -33px;
  cursor: pointer;
  display: none;
  opacity: 0.7;
  filter: alpha(opacity=70);
  transition: opacity 0.3s ease 0s;
}
.i-ban .butn:hover{
  opacity: 1;
  filter: alpha(opacity=100);
}
/*.i-ban .butn .bg{
  display: block;
  width: 100%;
  height: 100%;
  background: #333;
  border-radius: 50%;
  opacity: 0.3;
  filter: alpha(opacity=30);
  transition: opacity 0.3s ease 0s;
}
.i-ban .butn:hover .bg{
  opacity: 0.8;
  filter: alpha(opacity=80);
}*/
/*.i-ban .butn i{
  position: absolute;
  left: 0;
  top: 0;
}*/
.i-ban .prev{
  left: 1.4%;
  background: url(../img/ico_55.png) no-repeat center;
}
/*.i-ban .prev i{
  display: block;
  width: 100%;
  height: 100%;
  background: url(../img/ico_47.png) no-repeat center;
}*/
.i-ban .next{
  right: 1.4%;
  background: url(../img/ico_56.png) no-repeat center;
}
/*.i-ban .next i{
  display: block;
  width: 100%;
  height: 100%;
  background: url(../img/ico_48.png) no-repeat center;
}*/

.m-i-ban {
  height: 400px;
  position: relative;
  overflow: hidden;
  display: none;
}
.m-i-ban ul {
  width: 100%;
  height: 100%;
}
.m-i-ban li {
  width: 100%;
  height: 100%;
  background-size: cover !important;
}
.m-i-ban .swiper-pagination1 {
  position: absolute;
  left: 50%;
  bottom: 20px;
  z-index: 2;
}
.m-i-ban .swiper-pagination1 span {
  display: inline-block;
  float: left;
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}
.m-i-ban .swiper-pagination1 span.swiper-pagination-bullet-active {
  background-color: #de001f;
}

.i-wrap {
  width: 100%;
  padding: 70px 0 85px;
  background-color: #f3f3f3;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.i-wrap .left-wrap {
  background-color: #fff;
  width: 66%;
}
.i-wrap .left-wrap .titbox {
  background-color: #fafafa;
  line-height: 80px;
}
.i-wrap .left-wrap .stit {
  font-size: 28px;
  color: #333;
  margin-left: 3%;
}
.i-wrap .left-wrap .list-wrap {
  position: relative;
}
.i-wrap .left-wrap .bd {
  position: relative;
  padding-top: 80px;
  top: -80px;
  overflow: hidden;
  width: 100%;
  margin-bottom: -80px;
}
.i-wrap .left-wrap .bd li {
  width: 100%;
  padding-top: 28px;
}
.i-wrap .left-wrap .bd .list-box:hover .tit a {
  color: #de001f;
}
.i-wrap .left-wrap .bd .list-box {
  width: 50%;
  float: left;
  margin-bottom: 34px;
}
.i-wrap .left-wrap .bd .date {
  width: 23.5%;
  text-align: center;
  font-family: "Arial";
  border-right: 1px solid #e5e5e5;
}
.i-wrap .left-wrap .bd .day {
  font-size: 54px;
  line-height: 60px;
}
.i-wrap .left-wrap .bd .year {
  color: #999;
  line-height: 20px;
  font-size: 16px;
}
.i-wrap .left-wrap .bd .cont {
  width: 66%;
  margin-right: 5.6%;
}
.i-wrap .left-wrap .bd .tit {
  font-size: 18px;
  line-height: 26px;
  height: 26px;
  position: relative;
  overflow: hidden;
}
.i-wrap .left-wrap .bd .tit a {
  color: #333;
  display: inline-block;
}
.i-wrap .left-wrap .bd .word {
  font-size: 14px;
  line-height: 24px;
  margin-top: 8px;
  height: 48px;
  overflow: hidden;
  position: relative;
}
.i-wrap .left-wrap .bd .word a {
  color: #999;
  display: inline-block;
}
.i-wrap .left-wrap .swiper-pagination {
  position: absolute;
  top: 30px;
  right: 32px;
}
.i-wrap .left-wrap .swiper-button-next{
  background: none;
  font-family: "瀹嬩綋";
  font-weight: bold;
  font-size: 24px;
  position: absolute;
  top:19px;
  right: 0;
  margin-top: 0;
}
.i-wrap .left-wrap .swiper-button-prev{
  background: none;
  font-family: "瀹嬩綋";
  font-weight: bold;
  font-size: 24px;
  position: absolute;
  top:19px;
  right:80px;
  left: auto;
  margin-top: 0;
}
.i-wrap .left-wrap .swiper-pagination span {
  display: inline-block;
  /*float: left;*/
}
.i-wrap .left-wrap .swiper-pagination span {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  /*background-color: #c4c4c4;*/
  cursor: pointer;
  margin: 0 4px;
}
.i-wrap .left-wrap .swiper-pagination span.swiper-pagination-bullet-active {
  /*background-color: #de001f;*/
}
.i-wrap .left-wrap .hd {
  position: absolute;
  top: -42px;
  right: 32px;
}
.i-wrap .left-wrap .hd li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #c4c4c4;
  cursor: pointer;
  margin: 0 4px;
  text-indent: 9999px;
}
.i-wrap .left-wrap .hd li.on {
  background-color: #de001f;
}
.i-wrap .right-video {
  width: 32.5%;
  background-color: #fff;
}
.i-wrap .right-video .imgbox {
  position: relative;
  display: block;
}
.i-wrap .right-video .imgbox a {
  display: block;
}
.i-wrap .right-video .imgbox img {
  width: 100%;
}
.i-wrap .right-video .imgbox .ico {
  display: inline-block;
  width: 90px;
  height: 90px;
  position: absolute;
  left: 50%;
  margin-left: -45px;
  top: 50%;
  margin-top: -45px;
  background: url(../img/ico_03.png) no-repeat center;
}
.i-wrap .right-video .cont-wrap {
  width: 90%;
  padding: 30px 5% 50px;
  background-color: #fafafa;
}
.i-wrap .right-video .titbox {
  line-height: 33px;
}
.i-wrap .right-video .stt {
  display: inline-block;
  font-size: 22px;
}
.i-wrap .right-video .stt a {
  color: #000;
}
.i-wrap .right-video .more {
  display: inline-block;
  width: 98px;
  padding-left: 16px;
  font-size: 12px;
  border-radius: 15px;
  line-height: 32px;
  background: url(../img/ico_04.png) no-repeat 95px center #f3f3f3;
  color: #666;
}
.i-wrap .right-video .more:hover {
  background: url(../img/ico_04_h.png) no-repeat 95px center #de001f;
  color: #fff;
}
.i-wrap .right-video .word {
  line-height: 24px;
}
.i-wrap .right-video .word a {
  color: #cacaca;
  display: inline-block;
}
.i-wrap .right-video .m-vid-tit {
  font-size: 36px;
  color: #000;
  line-height: 98px;
  background-color: #fff;
  display: none;
}
.i-wrap .right-video:hover .stt a {
  color: #de001f;
}

.search-bg {
  background-color: #000;
  display: none;
  height: 100%;
  left: 0;
  opacity: 0.8;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.searchbox {
  border: 1px solid #535353;
  display: none;
  height: 68px;
  left: 50%;
  margin-left: -25%;
  position: fixed;
  top: 169px;
  width: 50%;
  z-index: 101;
}

.searchbox input.tex {
  background: none;
  border: medium none;
  color: #a7a7a7;
  font-family: "Arial";
  font-size: 36px;
  height: 37px;
  line-height: 36px;
  padding: 16px 2% 15px;
  width: 80%;
}

.searchbox input.search-btn {
  background: url(../img/ico_13.png) no-repeat scroll center;
  background-size: 50% auto;
  border: none;
  height: 68px;
  margin-right: 1%;
  min-width: 40px;
  width: 7%;
}

.close-search {
  background: url(../img/ico_14.png) no-repeat center center;
  cursor: pointer;
  display: none;
  height: 37px;
  position: fixed;
  right: 3%;
  top: 50px;
  width: 37px;
  z-index: 101;
}

/****************鍏充簬鎴戜滑*************/
.about-wrap {
  padding-top: 68px;
}
.about-wrap .tit-box .cn {
  font-size: 48px;
  color: #333;
  line-height: 58px;
}
.about-wrap .tit-box .en {
  font-size: 36px;
  font-family: "Arial";
  color: #e5e5e5;
  font-weight: bold;
  line-height: 40px;
}
.about-wrap .cont-wrap {
  margin-top: 45px;
}
.about-wrap .cont-wrap .img {
  display: block;
  width: 50%;
}
.about-wrap .cont-wrap .img img {
  max-width: 100%;
}
.about-wrap .cont-wrap .word {
  width: 43%;
  margin-left: 3.8%;
  font-size: 16px;
  line-height: 30px;
  color: #777;
}
.about-wrap .nav-tab {
  margin-top: 60px;
  width: 100%;
}
.about-wrap .nav-tab .nav-box {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 36px;
  border-bottom: 1px solid #dbdbdb;
  background-color: #f4f4f4;
}
.about-wrap .nav-tab .nav-box ul {
  width: 82.6%;
  margin: 0 auto;
}
.about-wrap .nav-tab .nav-box li {
  margin: 0 2.2%;
  border: 1px solid #e8e8e8;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  width: 180px;
  height: 180px;
  cursor: pointer;
  position: relative;
}
.about-wrap .nav-tab .nav-box li p {
  line-height: 34px;
  font-size: 18px;
  color: #333;
}
.about-wrap .nav-tab .nav-box li i {
  display: none;
  width: 18px;
  height: 9px;
  background: url(../img/ico_20.png) no-repeat center;
  position: absolute;
  bottom: -38px;
  left: 50%;
  margin-left: -9px;
}
.about-wrap .nav-tab .nav-box .ico {
  display: block;
  width: 60px;
  height: 60px;
  margin: 42px auto 0;
}
.about-wrap .nav-tab .nav-box .ico1 {
  background: url(../img/ico_15.png) no-repeat center;
  background-size: cover;
}
.about-wrap .nav-tab .nav-box .ico2 {
  background: url(../img/ico_16.png) no-repeat center;
  background-size: cover;
}
.about-wrap .nav-tab .nav-box .ico3 {
  background: url(../img/ico_17.png) no-repeat center;
  background-size: cover;
}
.about-wrap .nav-tab .nav-box .ico4 {
  background: url(../img/ico_18.png) no-repeat center;
  background-size: cover;
}
.about-wrap .nav-tab .nav-box .ico5 {
  background: url(../img/ico_19.png) no-repeat center;
  background-size: cover;
}
.about-wrap .nav-tab .nav-box li.hover .ico1 {
  background: url(../img/ico_15_h.png) no-repeat center;
  background-size: cover;
}
.about-wrap .nav-tab .nav-box li.hover .ico2 {
  background: url(../img/ico_16_h.png) no-repeat center;
  background-size: cover;
}
.about-wrap .nav-tab .nav-box li.hover .ico3 {
  background: url(../img/ico_17_h.png) no-repeat center;
  background-size: cover;
}
.about-wrap .nav-tab .nav-box li.hover .ico4 {
  background: url(../img/ico_18_h.png) no-repeat center;
  background-size: cover;
}
.about-wrap .nav-tab .nav-box li.hover .ico5 {
  background: url(../img/ico_19_h.png) no-repeat center;
  background-size: cover;
}
.about-wrap .nav-tab .nav-box li.hover i {
  display: block;
}
.about-wrap .nav-tab .cont-wrap {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 175px;
}
.about-wrap .nav-tab .cont {
  width: 720px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 30px;
  display: none;
}
.about-wrap .nav-tab .cont .stit {
  font-size: 24px;
  color: #333;
}

.history-wrap .fir-wrap {
  /*background-color: #f2f2f2;*/
  padding-top: 65px;
  /*padding-bottom: 92px;*/
}
.history-wrap .fir-wrap .titbox .cn {
  font-size: 48px;
  line-height: 58px;
  color: #333;
}
.history-wrap .fir-wrap .titbox .en {
  font-size: 36px;
  font-family: "Arial";
  line-height: 40px;
  font-weight: bold;
  color: #e5e5e5;
}
.history-wrap .fir-wrap .col-tab {
  margin-top: 52px;
  position: relative;
  overflow: hidden;
}
.history-wrap .fir-wrap .col-tab ul {
  width: 102.6%;
}
.history-wrap .fir-wrap .col-tab li {
  width: 47.4%;
  background-color: #fff;
  margin-right: 2.6%;
  padding-top: 36px;
  padding-bottom: 77px;
}
.history-wrap .fir-wrap .col-tab .ico {
  display: block;
  width: 11.4%;
  margin-left: 7%;
  margin-top: 7px;
}
.history-wrap .fir-wrap .col-tab .ico img {
  width: 100%;
}
.history-wrap .fir-wrap .col-tab .cont {
  width: 64.2%;
  margin-left: 7%;
}
.history-wrap .fir-wrap .col-tab .stit {
  font-size: 24px;
  line-height: 38px;
}
.history-wrap .fir-wrap .col-tab .word {
  line-height: 24px;
  font-size: 14px;
  margin-top: 7px;
}
.history-wrap .sec-wrap {
  padding-top: 50px;
  padding-bottom: 126px;
}
.history-wrap .sec-wrap .out-wrap {
  position: relative;
  overflow: hidden;
}
.history-wrap .sec-wrap .out-wrap ul {
  width: 105.4%;
}
.history-wrap .sec-wrap .out-wrap li {
  margin-right: 1.8%;
  width: 30%;
  border: 1px solid #dadada;
}
.history-wrap .sec-wrap .out-wrap li a {
  display: block;
  width: 83.6%;
  padding: 76px 8.2% 42px;
}
.history-wrap .sec-wrap .out-wrap li:hover {
  box-shadow: 0 0 4px 3px #f5f5f5;
}
.history-wrap .sec-wrap .out-wrap li:hover .more {
  background: url(../img/ico_23.png) no-repeat center #a8a8a8;
}
.history-wrap .sec-wrap .out-wrap .more {
  display: block;
  width: 46px;
  height: 46px;
  background: url(../img/ico_23.png) no-repeat center #d3d3d3;
  border-radius: 50%;
  -webkit-transition: background 0.3s ease 0s;
          transition: background 0.3s ease 0s;
}
.history-wrap .sec-wrap .out-wrap .year {
  font-size: 50px;
  font-family: "Arial";
  line-height: 60px;
  color: #de001f;
  font-style: italic;
}
.history-wrap .sec-wrap .out-wrap .stit {
  font-size: 36px;
  line-height: 57px;
  color: #333;
}
.history-wrap .sec-wrap .out-wrap .word {
  margin-top: 14px;
  font-size: 14px;
  line-height: 22px;
  min-height: 230px;
  padding-bottom: 32px;
  color: #666;
}

.history-info-alert, .history-info {
  position: relative;
  overflow: hidden;
  display: none;
}
.history-info-alert .close, .history-info .close {
  display: block;
  width: 68px;
  height: 68px;
  background: url(../img/ico_24.png) no-repeat center;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}
.history-info-alert .left-scroll, .history-info .left-scroll {
  width: 34%;
  position: relative;
}
.history-info-alert .left-scroll .bd, .history-info-alert .left-scroll ul, .history-info-alert .left-scroll li, .history-info-alert .left-scroll img, .history-info .left-scroll .bd, .history-info .left-scroll ul, .history-info .left-scroll li, .history-info .left-scroll img {
  width: 100%;
}
.history-info-alert .left-scroll .bd, .history-info .left-scroll .bd {
  padding-bottom: 26px;
  position: relative;
  overflow: hidden;
}
.history-info-alert .left-scroll .swiper-pagination, .history-info-alert .left-scroll .hd, .history-info .left-scroll .swiper-pagination, .history-info .left-scroll .hd {
  left: 50%;
  bottom: 0;
  position: absolute;
}
.history-info-alert .left-scroll .swiper-pagination,.history-info-alert .left-scroll .hd{
  width: 100%;
  left: 0;
}
.history-info-alert .left-scroll .swiper-pagination{
  height: 10px;
}
.history-info-alert .left-scroll .swiper-pagination span, .history-info-alert .left-scroll .swiper-pagination li, .history-info-alert .left-scroll .hd span, .history-info-alert .left-scroll .hd li, .history-info .left-scroll .swiper-pagination span, .history-info .left-scroll .swiper-pagination li, .history-info .left-scroll .hd span, .history-info .left-scroll .hd li {
  border-radius: 50%;
  display: block;
  float: left;
  width: 10px;
  height: 10px;
  background-color: #d3d3d3;
  margin: 0 7px;
  cursor: pointer;
}
.history-info-alert .left-scroll .swiper-pagination span{
  float: none;
  display: inline-block;
  vertical-align: top;
}
.history-info-alert .left-scroll .swiper-pagination span.swiper-pagination-bullet-active, .history-info-alert .left-scroll .swiper-pagination li.on, .history-info-alert .left-scroll .hd span.swiper-pagination-bullet-active, .history-info-alert .left-scroll .hd li.on, .history-info .left-scroll .swiper-pagination span.swiper-pagination-bullet-active, .history-info .left-scroll .swiper-pagination li.on, .history-info .left-scroll .hd span.swiper-pagination-bullet-active, .history-info .left-scroll .hd li.on {
  background-color: #de001f;
}
.history-info-alert .left-scroll .hd li, .history-info .left-scroll .hd li {
  text-indent: 9999px;
}
.history-info-alert .right-cont, .history-info .right-cont {
  width: 59%;
  margin-right: 1.8%;
  padding-top: 3px;
}
.history-info-alert .titbox, .history-info .titbox {
  color: #666;
}
.history-info-alert .titbox .year-box, .history-info .titbox .year-box {
  font-size: 50px;
  font-family: "Arial";
  line-height: 60px;
  font-weight: bold;
  font-style: italic;
}
.history-info-alert .titbox .s-cn, .history-info .titbox .s-cn {
  font-size: 36px;
  line-height: 60px;
}
.history-info-alert .list-cont, .history-info .list-cont {
  margin-top: 30px;
  position: relative;
  height: 406px;
  overflow: hidden;
}
.history-info-alert .scroll-obj, .history-info .scroll-obj {
  width: 94.8%;
  position: absolute;
  left: 0;
  top: 0;
}
.history-info-alert .scroll-obj ul, .history-info-alert .scroll-obj li, .history-info .scroll-obj ul, .history-info .scroll-obj li {
  width: 100%;
}
.history-info-alert .scroll-obj li, .history-info .scroll-obj li {
  border-top: 1px dashed #c2c2c2;
  font-size: 16px;
  line-height: 24px;
  padding: 12px 0;
}
.history-info-alert .scroll-obj .year, .history-info .scroll-obj .year {
  font-size: 18px;
  font-family: "Arial";
  font-weight: bold;
  color: #de001f;
  display: inline-block;
  margin-right: 15px;
}
.history-info-alert .scroll-obj .stit, .history-info .scroll-obj .stit {
  font-size: 16px;
  color: #888;
  display: inline-block;
}
.history-info-alert .scroll-bar, .history-info .scroll-bar {
  width: 8px;
  height: 395px;
  background-color: #f1f1f1;
  position: absolute;
  right: 0;
  top: 0;
}
.history-info-alert .scroll-bar .butn, .history-info .scroll-bar .butn {
  display: block;
  width: 100%;
  height: 62px;
  background-color: #7f7f7f;
  position: absolute;
  top: 0;
  left: 0;
}
.history-info-alert .ps-scrollbar-y-rail, .history-info .ps-scrollbar-y-rail {
  background-color: #f1f1f1;
}

.history-info {
  display: block;
}
.history-info .year-list {
  height: 100px;
}
.history-info .year-list ul {
  width: 88.3%;
  background-color: #f2f2f2;
}
.history-info .year-list li {
  width: 33.3%;
  text-align: center;
  padding-top: 26px;
  height: 74px;
  cursor: pointer;
}
.history-info .year-list .year {
  font-size: 18px;
  font-family: "Arial";
  line-height: 24px;
  color: #666;
  font-weight: bold;
  font-style: italic;
}
.history-info .year-list .stit {
  font-size: 18px;
  line-height: 24px;
  color: #333;
}
.history-info .year-list li.hover .year {
  color: #de001f;
}
.history-info .return {
  display: block;
  width: 11.7%;
  height: 100%;
  background: url(../img/ico_25.png) no-repeat center #666;
  cursor: pointer;
}
.history-info .cont-ajax {
  margin-top: 50px;
}

.culture-wrap .fir-wrap {
  padding-bottom: 145px;
}
.culture-wrap .row-cont {
  margin-top: 42px;
}
.culture-wrap .row-cont .img {
  display: block;
  width: 48%;
  padding: 13px;
  border: 1px solid #e3e3e3;
}
.culture-wrap .row-cont .img img {
  width: 100%;
}
.culture-wrap .row-cont .img:hover img {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.culture-wrap .row-cont .right-cont {
  width: 45%;
  padding-top: 34px;
  border-top: 1px solid #dbdbdb;
}
.culture-wrap .row-cont .stit {
  font-size: 24px;
  line-height: 43px;
  color: #333;
}
.culture-wrap .row-cont .word {
  line-height: 30px;
  font-size: 14px;
  margin-top: 16px;
  color: #777;
}
.culture-wrap .column-list {
  margin-top: 62px;
}
.culture-wrap .column-list .ico {
  display: block;
  height: 48px;
  width: 100%;
}
.culture-wrap .column-list .ico1 {
  background: url(../img/ico_26.png) no-repeat center;
}
.culture-wrap .column-list .ico2 {
  background: url(../img/ico_27.png) no-repeat center;
}
.culture-wrap .column-list .ico3 {
  background: url(../img/ico_28.png) no-repeat center;
}
.culture-wrap .column-list li {
  position: relative;
  text-align: center;
}
.culture-wrap .column-list .tt {
  font-size: 24px;
  color: #333;
  line-height: 48px;
  font-weight: bold;
  line-height: 1.5;
  padding: .25em 0;
}
.culture-wrap .column-list .word {
  width: 76%;
  margin: 22px auto 0;
  font-size: 14px;
}
.culture-wrap .column-list .line {
  display: block;
  width: 1px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #dbdbdb;
}
.culture-wrap .column-list .line-fir {
  display: block;
  width: 1px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #dbdbdb;
}
.culture-wrap .sec-wrap {
  background-color: #f4f4f4;
  padding-bottom: 80px;
}
.culture-wrap .sec-wrap .list-wrap {
  margin-top: 30px;
  position: relative;
}
.culture-wrap .sec-wrap .hd {
  position: absolute;
  right: 0;
  top: -110px;
}
.culture-wrap .sec-wrap .hd .butn {
  display: block;
  float: left;
  width: 42px;
  height: 42px;
  border: 1px solid #d2d2d2;
  margin-left: 7px;
  cursor: pointer;
  border-radius: 50%;
}
.culture-wrap .sec-wrap .hd .prev {
  background: url(../img/ico_29.png) no-repeat center;
}
.culture-wrap .sec-wrap .hd .next {
  background: url(../img/ico_30.png) no-repeat center;
}
.culture-wrap .sec-wrap .bd {
  position: relative;
  overflow: hidden;
}
.culture-wrap .sec-wrap .bd ul {
  width: 105.2%;
}
.culture-wrap .sec-wrap .bd li {
  width: 23.7%;
  margin-right: 1.3%;
  position: relative;
}
.culture-wrap .sec-wrap .bd li a {
  display: block;
}
.culture-wrap .sec-wrap .bd li img {
  width: 100%;
}
.culture-wrap .sec-wrap .bd li .tit {
  display: block;
  line-height: 20px;
  font-size: 14px;
  color: #fff;
  width: 92%;
  padding: 9px 4%;
  background: url(../img/bg_02.png) repeat center;
  position: absolute;
  left: 0;
  bottom: 0;
}
.culture-wrap .thi-wrap .cont-wrap {
  margin-top: 42px;
  padding-bottom: 50px;
}
.culture-wrap .thi-wrap .cont-wrap .img {
  display: block;
}
.culture-wrap .thi-wrap .cont-wrap .img img {
  width: 100%;
}
.culture-wrap .thi-wrap .cont-wrap .right-cont {
  float: right;
  border-top: 1px solid #dbdbdb;
  font-size: 14px;
  line-height: 30px;
  color: #777;
}
.culture-wrap .thi-wrap .cont-wrap .right-cont .word {
  padding-top: 38px;
}
.culture-wrap .thi-wrap .cont-wrap .right-cont .stit {
  font-size: 24px;
  line-height: 46px;
  color: #333;
}
.culture-wrap .thi-wrap .sec-tit {
  font-size: 24px;
  line-height: 70px;
  border-bottom: 1px solid #dbdbdb;
  color: #333;
}
.culture-wrap .thi-wrap .list-wrap {
  margin-top: 52px;
  padding-bottom: 150px;
  position: relative;
  overflow: hidden;
}
.culture-wrap .thi-wrap .list-wrap ul {
  width: 103.5%;
}
.culture-wrap .thi-wrap .list-wrap li {
  width: 21.5%;
  margin-right: 3.5%;
}
.culture-wrap .thi-wrap .list-wrap .year-box {
  line-height: 95px;
  border-bottom: 4px solid #de001f;
  font-size: 18px;
  color: #3f3f3f;
}
.culture-wrap .thi-wrap .list-wrap .year-box .num {
  color: #de001f;
  font-size: 66px;
  font-family: "Arial";
  font-weight: bold;
}
.culture-wrap .thi-wrap .list-wrap .word {
  line-height: 30px;
  font-size: 14px;
  color: #777;
  margin-top: 26px;
  min-height: 110px;
}

.ins-titbox {
  padding-top: 50px;
}
.ins-titbox .cn {
  font-size: 36px;
  line-height: 48px;
  color: #333;
}
.ins-titbox .en {
  font-size: 36px;
  font-family: "Arial";
  font-weight: bold;
  color: #e5e5e5;
  line-height: 56px;
}

.society-wrap .fir-wrap {
  background-color: #f4f4f4;
  padding-bottom: 50px;
}
.society-wrap .fir-wrap .cont-wrap {
  margin-top: 20px;
}
.society-wrap .fir-wrap .cont-wrap .img {
  display: block;
  width: 49%;
}
.society-wrap .fir-wrap .cont-wrap .img img {
  max-width: 100%;
}
.society-wrap .fir-wrap .cont-wrap .cont {
  width: 47.7%;
  padding-top: 40px;
  border-top: 1px solid #dbdbdb;
}
.society-wrap .fir-wrap .cont-wrap .cont ul {
  width: 100%;
}
.society-wrap .fir-wrap .cont-wrap .cont li {
  width: 97%;
  padding-left: 3%;
  background: url(../img/ico_31.png) no-repeat 3px 10px;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 24px;
}
.society-wrap .sec-wrap {
  padding-bottom: 30px;
  border-bottom: 1px solid #dbdbdb;
  padding-top: 50px;
}
.society-wrap .sec-wrap .cent-cont {
  text-align: center;
  width: 665px;
  margin: 0 auto;
}
.society-wrap .sec-wrap .cent-cont .word {
  line-height: 24px;
  font-size: 14px;
  margin-top: 7px;
}
.society-wrap .sec-wrap h4 {
  font-size: 36px;
  font-weight: normal;
  line-height: 56px;
  color: #333;
}
.society-wrap .sec-wrap .nav-list {
  width: 100%;
  margin-top: 40px;
}
.society-wrap .sec-wrap .nav-list ul {
  width: 101%;
}
.society-wrap .sec-wrap .nav-list li {
  border: 1px solid #ede8e2;
  background-color: #f2f2f2;
  padding-top: 30px;
  padding-bottom: 40px;
  cursor: pointer;
  width: 19%;
  margin-right: 0.7%;
  text-align: center;
  border-radius: 8px;
  position: relative;
}
.society-wrap .sec-wrap .nav-list li .ico {
  display: block;
  height: 70px;
}
.society-wrap .sec-wrap .nav-list li .ico1 {
  background: url(../img/ico_33.png) no-repeat center;
}
.society-wrap .sec-wrap .nav-list li .ico2 {
  background: url(../img/ico_34.png) no-repeat center;
}
.society-wrap .sec-wrap .nav-list li .ico3 {
  background: url(../img/ico_35.png) no-repeat center;
}
.society-wrap .sec-wrap .nav-list li .ico4 {
  background: url(../img/ico_36.png) no-repeat center;
}
.society-wrap .sec-wrap .nav-list li .ico5 {
  background: url(../img/ico_37.png) no-repeat center;
}
.society-wrap .sec-wrap .nav-list li p {
  font-size: 18px;
  line-height: 40px;
  color: #666;
}
.society-wrap .sec-wrap .nav-list li i {
  display: none;
  width: 20px;
  height: 13px;
  background: url(../img/ico_32.png) no-repeat center;
  position: absolute;
  left: 50%;
  margin-left: -10px;
  bottom: -13px;
}
.society-wrap .sec-wrap .nav-list li.hover {
  border: 1px solid #6a6a6a;
  background-color: #6a6a6a;
}
.society-wrap .sec-wrap .nav-list li.hover p {
  color: #fff;
}
.society-wrap .sec-wrap .nav-list li.hover .ico1 {
  background: url(../img/ico_33_h.png) no-repeat center;
}
.society-wrap .sec-wrap .nav-list li.hover .ico2 {
  background: url(../img/ico_34_h.png) no-repeat center;
}
.society-wrap .sec-wrap .nav-list li.hover .ico3 {
  background: url(../img/ico_35_h.png) no-repeat center;
}
.society-wrap .sec-wrap .nav-list li.hover .ico4 {
  background: url(../img/ico_36_h.png) no-repeat center;
}
.society-wrap .sec-wrap .nav-list li.hover .ico5 {
  background: url(../img/ico_37_h.png) no-repeat center;
}
.society-wrap .sec-wrap .nav-list li.hover i {
  display: block;
}
.society-wrap .sec-wrap .cont-wrap {
  margin-top: 36px;
}
.society-wrap .sec-wrap .cont-wrap h4 {
  font-size: 34px;
  color: #333;
  line-height: 62px;
}
.society-wrap .sec-wrap .cont-wrap .cont {
  margin-top: 22px;
}
.society-wrap .sec-wrap .cont-wrap .img {
  display: block;
  width: 30%;
}
.society-wrap .sec-wrap .cont-wrap .img img {
  max-width: 100%;
}
.society-wrap .sec-wrap .cont-wrap .boxs {
  display: none;
}
.society-wrap .sec-wrap .cont-wrap .word {
  width: 62.5%;
  margin-left: 2.7%;
  color: #666;
  line-height: 24px;
  font-size: 14px;
}
.society-wrap .sec-wrap .cont-wrap .word p {
  margin-bottom: 13px;
}
.society-wrap .thi-wrap {
  padding-top: 40px;
  padding-bottom: 110px;
}
.society-wrap .thi-wrap h4 {
  font-size: 36px;
  line-height: 60px;
  color: #333;
  text-align: center;
  font-weight: normal;
}
.society-wrap .thi-wrap .list-wrap {
  margin-top: 50px;
  position: relative;
  overflow: hidden;
  padding-bottom: 48px;
}
.society-wrap .thi-wrap .list-wrap ul {
  width: 101.6%;
}
.society-wrap .thi-wrap .list-wrap li {
  width: 23%;
  margin-right: 1.6%;
}
.society-wrap .thi-wrap .list-wrap p {
  line-height: 24px;
  font-size: 14px;
  margin-top: 10px;
}
.society-wrap .thi-wrap .swiper-pagination, .society-wrap .thi-wrap .hd {
  position: absolute;
  left: 50%;
  bottom: 0;
}
.society-wrap .thi-wrap .swiper-pagination span, .society-wrap .thi-wrap .swiper-pagination li, .society-wrap .thi-wrap .hd span, .society-wrap .thi-wrap .hd li {
  display: block;
  float: left;
  border-radius: 50%;
  background-color: #ebebeb;
  margin: 0 3px;
  cursor: pointer;
  width: 10px;
  height: 10px;
}
.society-wrap .thi-wrap .swiper-pagination span.swiper-pagination-bullet-active, .society-wrap .thi-wrap .swiper-pagination li.on, .society-wrap .thi-wrap .hd span.swiper-pagination-bullet-active, .society-wrap .thi-wrap .hd li.on {
  background-color: #de001f;
}
.society-wrap .thi-wrap .hd {
  overflow: hidden;
}
.society-wrap .thi-wrap .hd li {
  text-indent: 9999px;
}

.business-home {
  width: 100%;
  height: 780px;
  background: url(../img/bg_03.jpg) no-repeat center bottom;
}
.business-home ul {
  width: 100%;
  height: 100%;
}
.business-home li {
  width: 20%;
  position: relative;
  height: 100%;
}
.business-home li .line {
  display: block;
  position: absolute;
  right: 0;
  width: 1px;
  height: 100%;
  top: 0;
  background-color: rgba(233, 232, 230, 0.2);
}
.business-home .cent-cont {
  text-align: center;
  position: absolute;
  width: 64%;
  left: 18%;
  top: 50%;
  color: #fff;
  margin-top: -82px;
  display: block;
  -webkit-transition: all 0s;
          transition: all 0s;
}
.business-home .cent-cont .ico {
  display: block;
  width: 70px;
  height: 70px;
  margin: 0 auto;
}
.business-home .cent-cont .ico1 {
  background: url(../img/ico_38.png) no-repeat center;
}
.business-home .cent-cont .ico2 {
  background: url(../img/ico_39.png) no-repeat center;
}
.business-home .cent-cont .ico3 {
  background: url(../img/ico_40.png) no-repeat center;
}
.business-home .cent-cont .ico4 {
  background: url(../img/ico_41.png) no-repeat center;
}
.business-home .cent-cont .ico5 {
  background: url(../img/ico_42.png) no-repeat center;
}
.business-home .cn-tit {
  font-size: 36px;
  line-height: 50px;
  margin-top: 11px;
}
.business-home .en-tit {
  font-size: 16px;
  font-family: "Arial";
  font-weight: bold;
  text-transform: uppercase;
}
.business-home .word {
  margin-top: 32px;
  font-size: 14px;
  line-height: 24px;
  display: none;
}
.business-home .word a {
  color: #fff;
}
.business-home .look-more {
  display: none;
  line-height: 38px;
  font-size: 14px;
  border: 1px solid #fff;
  color: #fff;
  width: 62%;
  padding-left: 36%;
  text-align: left;
  background: url(../img/ico_43.png) no-repeat 80% center;
  margin-top: 20px;
}
.business-home li:hover {
  background: url(../img/bg_04.png) no-repeat center;
  background-size: cover;
}
.business-home li:hover .word, .business-home li:hover .look-more {
  display: block;
}

.business-chemical .fir-wrap {
  padding-bottom: 40px;
}
.business-chemical .fir-wrap .cont-wrap {
  margin-top: 20px;
}
.business-chemical .fir-wrap .img {
  display: block;
}
.business-chemical .fir-wrap .img img {
  max-width: 100%;
}
.business-chemical .fir-wrap .right-word {
  float: right;
  color: #666;
  font-size: 14px;
  line-height: 26px;
}
.business-chemical .sec-wrap {
  background-color: #f2f2f2;
  padding-top: 34px;
  padding-bottom: 42px;
}
.business-chemical .sec-wrap .cent-cont-wrap {
  width: 93%;
  margin: 0 auto;
}
.business-chemical .sec-wrap h4 {
  font-weight: normal;
  font-size: 30px;
  line-height: 50px;
  color: #333;
}
.business-chemical .sec-wrap .word {
  margin-top: 17px;
  font-size: 14px;
  line-height: 26px;
  color: #666;
}
.business-chemical .sec-wrap .scroll-wrap {
  margin-top: 36px;
  /*padding-bottom: 48px;*/
  position: relative;
  /*height: 338px;*/
  /*overflow: hidden;*/
}
.business-chemical .sec-wrap .scroll-wrap ul{
  width: 101%;
}
.business-chemical .sec-wrap .scroll-wrap li {
  /*width: 326px;*/
  width: 24%;
  position: relative;
  margin-right: 1%;
  height: 337px;
}
.business-chemical .sec-wrap .scroll-wrap li img{
  width: 100%;
}
.business-chemical .sec-wrap .scroll-wrap .up-cont {
  position: absolute;
  width: 84%;
  left: 4%;
  background: url(../img/bg_05.png) repeat 0;
  padding: 4px 4% 20px;
  bottom: 9px;
  overflow: hidden;
  height: 34px;
  -webkit-transition: all 0.6s ease 0s;
          transition: all 0.6s ease 0s;
}
.business-chemical .sec-wrap .scroll-wrap .stit {
  line-height: 50px;
  font-size: 18px;
  color: #666;
}
.business-chemical .sec-wrap .scroll-wrap .font {
  font-size: 14px;
  line-height: 24px;
  color: #666;
  margin-top: 5px;
  height: 226px;
  overflow: hidden;
}
.business-chemical .sec-wrap .scroll-wrap li:hover .up-cont {
  height: 280px;
  padding-top: 16px;
}
.business-chemical .sec-wrap .scroll-wrap .hd{
  position: absolute;
  right: 0;
  top: -80px;
}
.business-chemical .sec-wrap .scroll-wrap .butn{
  border: 1px solid #d2d2d2;
  border-radius: 50%;
  cursor: pointer;
  display: block;
  float: left;
  height: 42px;
  margin-left: 7px;
  width: 42px;
}
.business-chemical .sec-wrap .scroll-wrap .prev{
  background: url("../img/ico_29.png") no-repeat center;
}
.business-chemical .sec-wrap .scroll-wrap .next{
  background: url("../img/ico_30.png") no-repeat center;
}
.business-chemical .sec-wrap .scroll-obj {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.business-chemical .sec-wrap .scroll-bar {
  position: absolute;
  bottom: 4px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #dbdbdb;
}
.business-chemical .sec-wrap .scroll-bar .butn {
  display: block;
  width: 105px;
  height: 9px;
  background-color: #636363;
  position: absolute;
  left: 0;
  top: -4px;
  cursor: pointer;
  border-radius: 4px;
}
.business-chemical .sec-wrap .ps-scrollbar-x-rail {
  display: block;
  background-color: #dbdbdb !important;
  width: 100%;
  height: 1px;
  bottom: 5px;
  opacity: 1;
}
.business-chemical .sec-wrap .ps-scrollbar-x-rail .ps-scrollbar-x {
  background-color: #636363;
  bottom: -4px;
}
.business-chemical .thi-wrap {
  margin-top: 48px;
  padding-bottom: 80px;
}
.business-chemical .thi-wrap ul {
  width: 100%;
}
.business-chemical .thi-wrap li {
  background-color: #f2f2f2;
  margin-bottom: 40px;
  width: 100%;
}
.business-chemical .thi-wrap .left-cont {
  padding-left: 3.6%;
  padding-top: 40px;
}
.business-chemical .thi-wrap .left-cont .stit {
  font-size: 30px;
  line-height: 50px;
  color: #333;
}
.business-chemical .thi-wrap .left-cont .word {
  line-height: 27px;
  font-size: 14px;
  margin-top: 17px;
  color: #666;
}
.business-chemical .thi-wrap img {
  max-width: 100%;
}
.business-chemical .thi-wrap .img {
  float: right;
}

/****************鎵嬫満鍐呴〉灏忓鑸�**************/
.m-ins-nav {
  width: 100%;
  height: 50px;
  display: none;
  position: relative;
  z-index: 8;
}
.m-ins-nav .return {
  display: block;
  width: 11.5%;
  height: 100%;
  background: url(../img/ico_25.png) no-repeat center #666666;
}
.m-ins-nav .right {
  position: relative;
  width: 88.5%;
}
.m-ins-nav .right .tit {
  display: block;
  width: 95%;
  padding-left: 5%;
  font-size: 14px;
  color: #de001f;
  background: url(../img/ico_45.png) no-repeat 93% center;
  background-size: auto 40%;
  cursor: pointer;
  line-height: 49px;
  border-bottom: 1px solid #e5e5e5;
}
.m-ins-nav .right .subbox {
  width: 100%;
  position: absolute;
  top: 49px;
  background-color: #fff;
  z-index: 2;
  display: none;
  left: 0;
}
.m-ins-nav .right .subbox a {
  display: block;
  width: 95%;
  padding-left: 5%;
  line-height: 40px;
  height: 40px;
  border-top: 1px solid #e5e5e5;
  background: url(../img/ico_46.png) no-repeat 92% center;
  background-size: auto 35%;
}

.black-bg-nav {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: #000;
  opacity: 0.5;
  display: none;
}

.business-logistics .fir-wrap {
  padding-bottom: 88px;
}
.business-logistics .fir-wrap .cont-wrap {
  margin-top: 30px;
}
.business-logistics .fir-wrap .img {
  display: block;
}
.business-logistics .fir-wrap .img img {
  max-width: 100%;
}
.business-logistics .fir-wrap .right-cont {
  /*padding-top: 40px;*/
  border-top: 1px solid #cfcfcf;
  margin-left: 4%;
}
.business-logistics .fir-wrap .right-cont .cn-tit {
  font-size: 30px;
  line-height: 40px;
  color: #333;
}
.business-logistics .fir-wrap .right-cont .word {
  margin-top: 35px;
  font-size: 14px;
  line-height: 26px;
  color: #666;
}
.business-logistics .sec-wrap {
  padding-bottom: 140px;
}
.business-logistics .sec-wrap ul, .business-logistics .sec-wrap li {
  width: 100%;
}
.business-logistics .sec-wrap li {
  margin-bottom: 48px;
  background-color: #f4f4f4;
}
.business-logistics .sec-wrap .left-cont {
  padding-left: 4%;
  padding-top: 50px;
}
.business-logistics .sec-wrap .left-cont .stit {
  font-size: 36px;
  line-height: 65px;
  color: #333;
}
.business-logistics .sec-wrap .left-cont .word {
  margin-top: 15px;
  line-height: 26px;
  font-size: 14px;
}
.business-logistics .sec-wrap .imgbox {
  float: right;
}
.business-logistics .sec-wrap .imgbox img {
  max-width: 100%;
}

/*********************PC鍝嶅簲*******************/
@media (max-width: 1500px) {
  .i-ban {
    height: 250px;
  }
}

/*# sourceMappingURL=style.css.map */
